@{
    ViewData["Title"] = "Home Page";
}
<form>
    <div class="p-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Julio Gema</h5>
                <textarea class="form-control"></textarea>
                <div class="text-right mt-1">
                    <button class="btn btn-primary">Tweet</button>
                </div>
            </div>
        </div>
    </div>
</form>